<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <title>User Registration</title>

</head>
<body>
<div class="container">
    <h1>User Registration</h1>
    <form action="#" th:action="@{/register}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="name">Full Name</label>
            <input class="form-control" id="name" name="name" pattern=".{1,50}" placeholder="Enter Full Name" required
                   th:field="*{name}">
            <p class="text-danger" th:each="error: ${#fields.errors('name')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label for="userid">Enter Username</label>
            <input class="form-control" id="userid" name="userid" pattern=".{1,50}" required th:field="*{userid}"
                   placeholder="Enter your username">
            <p class="text-danger" th:each="error : ${#fields.errors('userid')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label for="password">Enter Password</label>
            <input class="form-control" id="password" name="password" pattern=".{1,50}" required
                   th:field="*{password}" type="password"
                   placeholder="Enter password">
            <p class="text-danger" th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label for="matchingPassword">Confirm Password</label>
            <input class="form-control" name="matchingPassword" pattern=".{1,50}" required
                   th:field="*{matchingPassword}"
                   type="password"
                   id="matchingPassword" placeholder="Confirm password">
            <p class="text-danger" th:each="error : ${#fields.errors('global')}"
               th:text="${error}">Validation error</p>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>